@import 'src/app/@themes/styles/style';

.add-inpt-container{
    position: relative;
    .add-more{
        position: absolute;
        bottom: 0;
        right: -170px;
        font-weight: bold;
    }
    .add-inpt{
        position: relative;
        input{
            width: 100%;
        }
        .brd-inpt{
            border:1px solid rgba(0,0,0,.3);
            border-radius: 4px;
            padding: 5px 8px;
            font-size: 14px;
            font-family: $font1;
            margin-right: 6px;
        }
        .trashbtn{
            position: absolute;
            right: -50px;
            bottom: 0;
        }
        .addc-select-border-container{
            min-width: 0;
            width: 100%;
        }
    }
}

.statorium-stng{
    display: flex;
    align-items: center;
    &>div:first-child,
    &>div:last-child{
        width: calc(50% - 25px);
    }
    &>div:nth-child(2){
        width: 50px;
    }
}

.trashbtn{
    i{
        font-size: 20px;
    }
}
.f-12{
    font-size: 12px;
}
.mw-0{
    min-width: 0;
}

.bg-scndry{
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #000;
}