<form [formGroup]="leaveConfig" (ngSubmit)="onSubmit()" autocomplete="off" novalidate  >
  <div class="addc-bg-white" (dblclick)="edit()" style="min-height: 65vh;">
    <div class="row">
      <div class="col-md-7">
       
        <div>
          <mat-form-field class="w-100  addc-input-container p-relative" [ngClass]="{'w-50': isEdit}">
            <input matInput type="text" class="addc-input" placeholder="Leave Type" formControlName="leaveType" required>
            <div class="">
              <div></div>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row mt-32">
      <div class="col-md-7">
        <div class="row mb-3">
          <div class="col-sm-6 text-secondary font-base1">Is the leave unpaid? <i class="text-error">*</i></div>
          <div class="col-sm-6">
            <mat-radio-group formControlName="unpaid" required>
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="true">Yes</mat-radio-button>
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6 text-secondary font-base1">Are remarks compulsory?</div>
          <div class="col-sm-6">
            <mat-radio-group formControlName="remarks">
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="true">Yes</mat-radio-button>
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6 text-secondary font-base1">Any supporting documents required? </div>
          <div class="col-sm-6">
            <mat-radio-group formControlName="document" [(ngModel)]="leaveConfig.value.document">
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="true">Yes</mat-radio-button>
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-sm-6"></div>
          <div class="col-sm-6  mb-16" *ngIf="leaveConfig.value.document">
            <div class="add-inpt-container">
              <div class="add-inpt mb-3" *ngFor="let item of ngForFromInt(supportDoc.length);let idx = index">
                <input type="text" class="w-100 brd-inpt" [(ngModel)]="supportDoc[idx]" [ngModelOptions]="{standalone: true}">
                <button class="trashbtn"><i class="fa fa-trash" (click)="removeDocument(idx)"></i></button>
              </div>
              <button class="addc-btn-link add-more" type="button" (click)="addDocument()">Add More</button>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6 text-secondary font-base1">Any statutory minimum? <i class="text-error">*</i></div>
          <div class="col-sm-6">
            <mat-radio-group formControlName='statutory' [(ngModel)]="leaveConfig.value.statutory">
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="true">Yes</mat-radio-button>
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6  mb-16" *ngIf="leaveConfig.value.statutory">
            <div class="add-inpt-container">
              <div class="add-inpt">
                <div class="statorium-stng">
                  <div class=" ">
                    <p class="text-secondary font-base1 mb-0">Entitlement</p>
                  </div>
                  <div class=""></div>
                  <div class="">
                    <p class="text-secondary font-base1 mb-0">Period of Service</p>
                  </div>
                </div>
                <div class="p-relative"  *ngFor="let item of statutoryMin; let idx = index;">
                  <div class="statorium-stng align-items-center mb-3">
                    <div class="  entitlement d-flex align-items-start">
                      <input type="number" class="brd-inpt" style="width: 40px" [(ngModel)]="statutoryMin[idx].entitlement.value" [ngModelOptions]="{standalone: true}">
                      <mat-form-field class="addc-select-border-container no-padding">
                        <mat-select [(ngModel)]="statutoryMin[idx].entitlement.time" [ngModelOptions]="{standalone: true}">
                          <mat-option *ngFor="let name of timeList" [value]="name">{{name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class=" text-secondary font1 f-12 text-center">after</div>
                    <div class=" service d-flex align-items-start">
                      <input type="number"  class="brd-inpt" style="width: 40px">
                      <mat-form-field class="addc-select-border-container no-padding">
                        <mat-select >
                          <mat-option *ngFor="let name of timeList" [value]="name">{{name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <button class="trashbtn" (click)="removeStatutory(idx)"><i class="fa fa-trash"></i></button>
                </div>
              </div>
              <button class="addc-btn-link add-more" type="button" (click)="addStatutory()">Add More</button>
            </div>
          </div>
        </div>
        <div class="row  mb-3">
          <div class="col-sm-6 text-secondary font-base1">Actions <i class="text-error">*</i></div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center">
              <p class="font-base1 mb-0 pr-8 text-secondary " style="width: 85px;">Assign to</p>
              <mat-form-field  class="addc-select-border-container no-padding mw-0">
                <mat-select formControlName="assignTo">
                  <mat-option *ngFor="let name of assignToList" [value]="name">{{name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <p class="font-base1 mb-0 pl-8 pr-8 text-secondary "  style="width: 100px;">employees</p>
              <mat-form-field  class="addc-select-border-container no-padding mw-0">
                <mat-select formControlName="employees">
                  <mat-option *ngFor="let name of employeeList" [value]="name">{{name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row  mb-3">
          <div class="col-sm-6 text-secondary font-base1">For unused leave days</div>
          <div class="col-sm-6">
            <mat-form-field class="addc-select-border-container no-padding w-100">
              <mat-select formControlName="unusedLeave">
                <mat-option *ngFor="let name of unusedLeaveDays" [value]="name">{{name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="w-100 d-flex justify-content-space-between">
    <div>
      <button [routerLink]="['../']" class="addc-btn-capsule-base-tiny pl-32 pr-32 bg-scndry" type="button">Cancel</button>
    </div>
    <div>
      <button class="addc-btn-capsule-base-tiny pl-32 pr-32" type="button" *ngIf="isEdit && isDisable" (click)="edit()">Edit</button>
      <button class="addc-btn-capsule-base-tiny pl-32 pr-32" type="submit" *ngIf="!isDisable">Save</button>
    </div>
  </div>
</form> 