<div class="d-flex justify-content-center align-items-center h-100" *ngIf="formActive">
  <div class="lgn-box">
    <p class="text-center font-weight-bold ttl-lgn">Now, we need you to reset your password</p>
    <div>
      <form [formGroup]="newPasswordFrom" (ngSubmit)="onSubmit()" novalidate>
        <div class="input-group newpass-input">
          <mat-form-field class="border-input w-100">
            <input matInput placeholder="New password" type="password" formControlName="newPassword" required>
            <mat-error *ngIf="newPasswordFrom.value.newPassword == ''">
                New Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="input-group newpass-input">
          <mat-form-field class="border-input w-100" [ngClass]="{'error': !passMatches}">
            <input matInput placeholder="Confirm new password" formControlName="confirmPassword" required type="password" >
            <!-- <mat-error *ngIf="telFormControl.hasError('email') && !telFormControl.hasError('required')">
              Please enter a valid password address
            </mat-error> -->
            <mat-error *ngIf="newPasswordFrom.value.confirmPassword == ''">
              Confirm new password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="error-invalid" *ngIf="!passMatches">
            Passwords do not match
          </div>
        </div>
        <div class="d-flex justify-content-center mt-24">
            <button type="submit" class="button-rounded text-white bg-base-green btn-login mb-8px">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
  

<div class="d-flex justify-content-center align-items-center h-100" *ngIf="!formActive" >
    <div class="lgn-box" [ngClass]="{'error': passChangeTtl=='Error'}">
      <div class="d-flex justify-content-center image mb-8">
        <img src="assets/images/allow-icon.png" alt="check">
      </div>
      <p class="text-center font-weight-bold ttl-lgn mb-16">{{passChangeTtl}}</p>
      <p class="text-center pass-scss-desc">{{passChangeDesc}} </p>
      <div class="d-flex justify-content-center mt-32">
          <a [routerLink]="['/auth/login']" class="button-rounded text-white bg-base-green btn-login " *ngIf="backToLogin">Back to Sign In</a>
          <button (click)="this.formActive = true;" class="button-rounded text-white bg-base-green btn-login " *ngIf="!backToLogin">OK</button>
      </div>
    </div>
</div>
