<div class="pdf-show"> 
    <pdf-viewer 
      [src]="source"
      [show-all]="true"
      [render-text]="true"
      (on-progress)="pdfLoad($event)"
      [zoom]="1.5"
    >
  </pdf-viewer>
</div>
<div class="popup-footer text-right mx-4">
  <button (click)="closePopup()" class="my-2 addc-btn-capsule bg-error pl-32 pr-32 mt-3 text-white pt-0 pb-0">Close</button>
</div>