<table id="exportTable">
    <tr>
        <th class="font-weight-bold">Associate ID</th>
        <th class="font-weight-bold">Name</th>
        <th class="font-weight-bold">NIRC</th>
        <th class="font-weight-bold">Currency</th>
        <th class="font-weight-bold">Amount</th>
        <th class="font-weight-bold">Status</th>
        <th class="font-weight-bold">Date Submitted</th>
        <th class="font-weight-bold">Date Approved</th>
      </tr>
      <tr *ngFor="let item of dataTable">
        <td >{{item.associateId}}</td>
        <td >{{item.createdByName}}</td>
        <td >{{item.associateNric}}</td>
        <td >{{item.currency}}</td>
        <td >{{item.currencyAmount }}</td>
        <td >{{item.status}}</td>
        <td >{{item.createdTime}}</td>
        <td >{{item.approved[item.approved.length-1]?.approveTime | date:'dd/MM/yyyy'}}</td>
      </tr>
</table>