<form [formGroup]="claimConfig" (ngSubmit)="onSubmit()" autocomplete="off" novalidate  >
  <div class="addc-bg-white" style="min-height: 65vh;" (dblclick)="edit()">
    <div class="row">
      <div class="col-md-7">
        <div>
          <mat-form-field class="w-100  addc-input-container p-relative" [ngClass]="{'w-50': isEdit}">
            <input matInput type="text" class="addc-input" placeholder="Claim Type" formControlName="claimType" required>
            <div class="">
              <div></div>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row mt-32">
      <div class="col-md-7">
        <div class="row mb-3">
          <div class="col-sm-6 text-secondary font-base1">Any sub claim? <i class="text-error">*</i></div>
          <div class="col-sm-6">
            <mat-radio-group formControlName='subclaim' [(ngModel)]="claimConfig.value.subclaim">
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="true">Yes</mat-radio-button>
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6 mb-8" *ngIf="claimConfig.value.subclaim">
            <div class="add-inpt-container">
              <div class="add-inpt mb-3" *ngFor="let item of ngForFromInt(subClaimInpt.length);let idx = index">
                <input type="text" class="w-100 brd-inpt" [(ngModel)]="subClaimInpt[idx]" [ngModelOptions]="{standalone: true}">
                <button class="trashbtn"><i class="fa fa-trash" (click)="removeDocument(idx)"></i></button>
              </div>
              <button class="addc-btn-link add-more" type="button" (click)="addDocument()">Add More</button>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6 text-secondary font-base1">Is the description compulsory?</div>
          <div class="col-sm-6">
            <mat-radio-group formControlName='description' [(ngModel)]="claimConfig.value.description">
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="true">Yes</mat-radio-button>
              <mat-radio-button class="addc-radio circle mr-32" color="primary" [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row  mb-3">
          <div class="col-sm-6 text-secondary font-base1">Actions <i class="text-error">*</i></div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center">
              <p class="font-base1 mb-0 pr-8 text-secondary " style="width: 85px;">Assign to</p>
              <mat-form-field  class="addc-select-border-container no-padding mw-0 w-100">
                <mat-select formControlName="action">
                  <mat-option *ngFor="let name of actionList" [value]="name">{{name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-space-between">
    <div>
      <button [routerLink]="['../']" class="addc-btn-capsule-base-tiny pl-32 pr-32 bg-scndry" type="button" >Cancel</button>
    </div>
    <div>
      <button class="addc-btn-capsule-base-tiny pl-32 pr-32" type="button" *ngIf="isEdit && isDisable" (click)="edit()">Edit</button>
      <button class="addc-btn-capsule-base-tiny pl-32 pr-32" type="submit" *ngIf="!isDisable">Save</button>
    </div>
  </div>
</form> 