@import '../../../general.scss';

.addc-input-capsule-search-container{
  width: 100%;
  max-width: 350px;
}

.addc-table-container {
    overflow: inherit;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    filter: drop-shadow( 0 2px 2px rgba(0,0,0,.05));
}
  
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}




.mb-16{
  margin-bottom: 16px;
}
.addc-capsule{
  display: inline-block;
  text-transform: capitalize;
  min-width: 160px;
  &.draft{
    background-color: rgba(245, 214, 110, 0.6);
  }
  &.complete{
    background-color: rgba(196, 211, 109, 0.6);
  }
}


.sts{
  .info{
    background: transparent;
    border: none;
    color: #fff;
  }
}

.popoffer{
  .list{
    position: relative;
    padding-left: 20px;

    &:after{
      content: '';
      position: absolute;
      height: 12px;
      width: 12px;
      background-color: red;
      border-radius: 50%;
      left: 0;
      top: 4px;
    }

    &.warning::after{
      background-color: $addc-warning;
    }
    &.success::after{
      background-color: $addc-success;
    }
  }
}


.w-250px{
  width: 250px !important;
}
.w-200px{
  width:200px !important;
}
.w-150px{
  width: 150px !important;
}
.w-100px{
  width:100px !important;
}
.pl-40{
  padding-left: 40px !important;
}
.pr-40{
  padding-right: 40px !important;
}



.popup{
  .popup-box{
    width: 90%;
    max-width: 450px;
    min-width: 300px;
  }
}