<div>
  <div class="row align-item-start">
    <div class="col-md-6">
      <div class="addc-input-capsule-search-container">
        <input  (keyup)="applyFilter($event.target.value, $event.code)" placeholder="Search for clients" class="search">
      </div>
    </div>
    <div class="col-md-6 text-right">
      <a [routerLink]="['./add-new-client']" class="addc-btn-capsule">
        <i class="icon-plus"></i>
        Add New
      </a>
    </div>
  </div>

    <div class="addc-table-container" style="min-height:430px">
        
      <ng-template #popContent >
        <div class="popoffer">
          <div class="list warning mb-16">
            <b>Draft</b>: Client setup has not been completed in the system yet. 
          </div>
          <div class="list success">
            <b>Complete</b>: Client setup has been added to the system with existing Job Orders.
          </div>
        </div>  
      </ng-template>

      <table mat-table 
        [dataSource]="dataSource" 
        matSort 
        (matSortChange)="sortData($event)"
        class="addc-table addc-tbl-round"  >
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-150px pl-40"> Client ID </th>
          <td mat-cell *matCellDef="let element" class="pl-40"> 
            <span *ngIf="element.isDraft"> - </span>
            <span *ngIf="!element.isDraft" class="text-uppercase">
              #{{element._id | slice:element._id.length-6 : element._id.length}}
            </span>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
          <td mat-cell *matCellDef="let element"> 
            <span class="text-capitalize">
              {{element.clientName}}
            </span>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="isDraft">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': '230px'}"> 
            <div class="sts">
              Status 
              <button [ngbPopover]="popContent" triggers="mouseenter:mouseleave" placement="top" class="info addc-popover-btn black">
                <i class="fa fa-exclamation-circle"></i>
              </button>
            </div> 
          </th>
          <td mat-cell *matCellDef="let element" >
            <button class="addc-btn addc-capsule " [ngClass]="{'draft': element.isDraft, 'complete': !element.isDraft}" (click)="goto(element)">
              <span *ngIf="element.isDraft">Draft</span>
              <span *ngIf="!element.isDraft">Complete</span>
            </button>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="createdByName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
          <td mat-cell *matCellDef="let element"> 
            <span *ngIf="element.createdByName == ''">-</span>
            <div *ngIf="element.createdByName != ''">
              <span >{{element.createdByName}}</span>
            </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="lastModifiedTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-250px"> Date Created/Modified </th>
          <td mat-cell *matCellDef="let element" class="pr-40"> 
            <span *ngIf="element.lastModifiedTime == ''">-</span>
            <div *ngIf="element.lastModifiedTime != ''">
              <span >{{element.lastModifiedTime | date:'dd/MM/yy, hh:mm:ss a'}}</span>
            </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class=" pr-40" style="width: 80px"></th>
          <td mat-cell *matCellDef="let element" > 
            <button class="trashbtn" (click)="deleteConfirm.show = true; deleteConfirm.data = element">
              <i class="fa fa-trash"></i> 
            </button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      </table>
    </div>
</div>


<mat-paginator 
  [length]="pageLength"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent($event) "
  class="addc-table-page"
  showFirstLastButtons
>
</mat-paginator>

<!-- =======================================================
                          popup 
=======================================================-->

<div class="d-flex justify-content-center align-items-center h-100 popup" *ngIf="deleteConfirm.show">
  <div class="popup-box">
    <p class="text-center font-weight-bold ttl-lgn ">Delete {{deleteConfirm.data.isDraft?'Draft':'Complete'}} Client</p>
    <p class="text-center pass-scss-desc mb-60">Are you sure?</p>

    <div class="d-flex w-100 justify-content-center">
      <button class="btn addc-btn-capsule bg-danger text-center mr-4 pl-16 pr-16 w-100px" (click)="deleteClient(deleteConfirm.data)">Yes</button>
      <button class="btn bg-success addc-btn-capsule text-center pl-16 pr-16 w-100px" (click)="deleteConfirm.show = false">Cancel</button>
    </div>
  </div>
</div>