<div (clickOutside)="clickOutsideFilter(3)" >
  <div class="addc-input-capsule-search-container w-100" *ngIf="searchAct">
    <input placeholder="Search for {{claims_type}}" class="search" [(ngModel)]="searchText.data">
  </div>
  <div>
    <div *ngIf="inputType == 'checkbox' || inputType=='checkbox-range'" >
      <div class="overflow-y mh-150">
        <mat-checkbox 
          class="d-block addc-checkbox checkbox-base-green text-capitalize" 
          color="primary" 
          *ngFor="let data of dataCheck | filterBy: searchText" 
          [(ngModel)]="data.value"
          (change)="clickCheck($event, data)"
        >
          {{data.showData}}
        </mat-checkbox>
      </div>
      <button *ngIf="isMoreClickAct" class="btn btn-link btn-sm text-base" (click)="clickMore()">More...</button>
    </div>
    <div *ngIf="inputType == 'date-picker' || inputType == 'date-picker-range'">
      <div class="row">
        <div class="col-6 p-relative" [ngClass]="{'col-12': inputType == 'date-picker'}">
          <mat-form-field class="input-dt-picker" >
            <input matInput [matDatepicker]="startDate" 
              [formControl]="stDate"
              [placeholder]="inputType == 'date-picker'?'Choose a Date':'Start date'" 
              (dateChange)="datepickerAct(2)" 
              autocomplete="off"
              > 
            <mat-datepicker 
              #startDate
              startView="multi-year"
              (yearSelected)="this.stDate.setValue(chosenYearHandler($event, this.stDate))"
              (monthSelected)="this.stDate.setValue(chosenMonthHandler($event, startDate, this.stDate))"
              (dateSelected)="this.stDate.setValue(chosenDateHandler($event, startDate, this.stDate))"
            ></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button class="btn-dt-picker" (click)="startDate.open(); datepickerAct(1);">
            <i class="icon-calendar-outlilne"></i>
          </button>
        </div>
        <div class="col-6 p-relative" *ngIf="inputType == 'date-picker-range'">
          <mat-form-field class="input-dt-picker">
            <input matInput [matDatepicker]="endDate"
              [min]="stDate.value?._d"
              [formControl]="edDate"
              placeholder="End date" 
              (dateChange)="datepickerAct(2)"
              autocomplete="off"
            > 
            <mat-datepicker 
            #endDate
            startView="multi-year"
            (yearSelected)="this.edDate.setValue(chosenYearHandler($event, this.edDate))"
            (monthSelected)="this.edDate.setValue(chosenMonthHandler($event, endDate, this.edDate))"
            (dateSelected)="this.edDate.setValue(chosenDateHandler($event, endDate, this.edDate))"
          ></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button class="btn-dt-picker" (click)="endDate.open(); datepickerAct(1);">
            <i class="icon-calendar-outlilne"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-space-between">
    <div>
      <button class="fil-btn" (click)="clearAll()">Clear All</button>
    </div>
    <div>
      <button class="fil-btn" (click)="cancelBtn()">Cancel</button>
      <button class="fil-btn fl-btn-capsule" (click)="apply()">Apply</button>
    </div>
  </div>
</div>