@import '../../../../@themes/styles/style.scss';



.lgn-input{
    margin-bottom: 23px;
}

.forgot-password{
    font-family: $font1;
    font-size: 14px;
    line-height: 1.43;
    color: $base-green-color;
    margin-top: 16px;
    border-bottom: 1px solid $base-green-color;
}
.pass-show{
    border: none;
    background: transparent;
    padding-right: 12px;
    padding-left: 12px;
    svg{
        path:last-child{
            fill:#000;
        }
    }
}

.error{
    svg{
        path:last-child{
            fill:$error;
        }
    }
}

.mb-8{
    margin-bottom: 8px;
}
.mt-32{
    margin-top: 32px;
}
.privacy{
    margin: auto;
    margin-bottom: 30px;
    width: 272px;
    text-align: center;
}