<div class="d-flex justify-content-center align-items-center h-100 " *ngIf="formActive">
  <div class="lgn-box">
    <p class="text-center font-weight-bold ttl-lgn" >Sign In</p>
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="lgn-frm">
        <div class="input-group  lgn-input">
          <mat-form-field class="border-input w-100 " [ngClass]="{'error': usernameNotValid}">
            <input matInput placeholder="Username" (keydown)="deleteUserInvalidErr($event)" formControlName="username" required>
            <mat-error *ngIf="loginForm.get('username').hasError('email')">
                Invalid email
            </mat-error>
            <mat-error *ngIf="loginForm.value.username == ''">
                Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="error-invalid" *ngIf="loginForm.value.username != '' && usernameNotValid">
              Your email does not exist in the system. Please try another one or contact the IT Admin for help.
          </div>
        </div>
        <div class="input-group mt-1 lgn-input">
          <mat-form-field class="border-input w-100 " [ngClass]="{'error': passwordNotValid}">
            <input matInput placeholder="Password" (keydown)="deletePassInvalidErr($event)" formControlName="password" required type="{{showPass?'text':'password'}}" [(ngModel)]="value" [errorStateMatcher]="matcher">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" type=button (click)="showPass = !showPass" class="pass-show">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16">
                <g fill="none" fill-rule="evenodd">
                    <path d="M-1-4h24v24H-1z"/>
                    <path fill="#D78189" d="M11 .5C6 .5 1.73 3.61 0 8c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5C20.27 3.61 16 .5 11 .5zM11 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8C9.34 5 8 6.34 8 8s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                </g>
              </svg>
            </button>
            <mat-error *ngIf="loginForm.value.password == ''">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="error-invalid" *ngIf="loginForm.value.password != '' && passwordNotValid">
            Invalid password
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-space-between">
            <div class=" remember-me">
              <mat-checkbox color="primary"  class="rm checkbox-base-green"  formControlName="rememberme">Remember me</mat-checkbox>
            </div>
            <div >
                <a [routerLink]="['../forgot-password']"  class="forgot-password">Forgot password?</a>
            </div>
          </div>
          <div class="col-12">
            <div class="privacy font-base1" >
                By continuing, you are indicating that you agree to the <a href="https://www.adecco.com.sg/personal-data-protection" target="_link" class="forgot-password" > Adecco's Privacy Notice</a>
            </div>
          </div>
          <div class="col-12 text-center mt-1">
            <div class="d-flex justify-content-center">
              <button type="submit"   class="button-rounded bg-base-green btn-login">Sign In</button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
            <a [routerLink]="['../forgot-password']"  class="forgot-password">or Login with OTP</a>
        </div>
      </div>
    </form>
  </div>
</div>




<div class="d-flex justify-content-center align-items-center h-100" *ngIf="!formActive">
  <div class="lgn-box">
    <div class="d-flex justify-content-center mb-8">
      <img src="assets/images/allow-icon.png" alt="check">
    </div>
    <p class="text-center font-weight-bold ttl-lgn">Your email does not exist in the system</p>
    <p class="text-center pass-scss-desc">Please try another one or contact the IT Admin for help.</p>
    <div class="d-flex justify-content-center mt-32">
      <button (click)="this.formActive = true" class="button-rounded text-white bg-base-green btn-login ">OK</button>
  </div>
  </div>
</div>
