@import '../claims.component.scss';

$brdr : #cacaca;
  .popup-item{
    overflow: auto;
    max-height: 90%;
    border-radius: 8px;
    min-width: 300px;
    width: 80%;
    max-width: 1000px;
    padding: 16px 0;
  }
  .popup-header,
  .popup-body,
  .popup-footer{
    padding: 0 70px;
  }
  
  .popup-header{
    position: relative;
    border-bottom: 2px solid $brdr;

    .close-btn{
      position: absolute;
      right: 10px;
      top: 0px;
            
      .btn-close{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(0,0,0,.1);
        border: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        i{
          font-size: 40px;
          position: relative;

          &::before,
          &::after{
            content: '';
            position: absolute;
            width: 28px;
            height: 3px;
            background: #000;
            left: -14px;
            top: -1px;
          }
          &::before{
            transform: rotate(45deg);
          }
          &::after{
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  .popup-body{
    position: relative;
    
    .ttl-dtl,
    .ttl-text,
    .dtl-text{
      margin-bottom: 14px;
    }
    .file-view{
      background: rgba(0, 0, 0, 0.05);
      border: 1px dashed rgba(151, 151, 151, 0.5);
      padding: 15px;
      width: calc(100% - 30px);
      max-width: 330px;
      position: relative;
      img{
        width: 100%;
        height: auto;
      }

      .pdf-view{
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: -1px 3px 4px rgba(0,0,0,.1);
        border: none;
        svg path:last-child{
          fill:$base-green-color;
        }
      }

      .pdf-view-more{
        text-align: center;
        margin-bottom: -10px;
        button{
          border: none;
          background: transparent;
          font-size: 12px;
          color: $base-green-color;
          font-family: $font1;
          text-transform: uppercase;
          font-weight: bold;
          position: relative;
          i{
            font-size: 30px;
            position: absolute;
            left: 100%;
            top: -6px;
          }
        }
      }
    }

    .edit-btn{
      background: darken($base-green-color, 15%);
      border-radius: 50px;
      border: none;
      padding: 2px 15px;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
    }
    .save-btn{
      border-radius: 50px;
      border: none;
      padding: 2px 15px;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      height: 22px;
      margin-left: 3px;
      margin-right: -3px;
    }
    .input-edit{
      margin-right: 10px;
    }
    .input-edit-currency-container{
      width: calc(100% - 70px);
      margin-right: 10px;
      input{
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 17px;
        font-family: $font1;
      }
    }

    .edit-amount{
      input{
        margin-top: 5px;
        width: 100px;
      }
    }

    .pdf-loading{
      height: 350px;
    }
  }

  .popup-footer{
    border-top: 2px solid $brdr;
    padding-top: 15px;

    .reject-remark{
      resize: none;
      width: 333px;
      font-family: $font1;
      font-size: 12px;
      line-height: 1.17;
      height: 40px;
      padding: 5px 6px;
      &::placeholder{
        font-family: $font1;
        font-size: 12px;
        line-height: 1.17;
        color: #848181;
      }
    }
  }
  
  .ttl-dtl,
  .detail{
    font-weight: bold;
  }

  .title,
  .detail,
  .ttl-dtl,
  .ttl-text,
  .dtl-text{
    font-family: $font1;
    font-size: 14px;
  }

  .ttl-text,
  .title{
    color: rgba(0, 0, 0, 0.5);
  }

  .prevbtn,
  .nextbtn{
    position: absolute;
    top: calc(50% - 30px);

    button{
      background: transparent;
      border:none;
      img{
        width: 52px;
      }
      &[disabled]{
        img{
          filter: opacity(.4);
        } 
      }
    }
  }

  .prevbtn{
    left: 0;
    padding-left: 0;
  }
  .nextbtn{
    right: 0;
    padding-right: 0;
  }

  .w-500{
    width: 500px;
  }