<div class="bg-white popup-item">

    <div class="popup-header mb-8">
      <div class="close-btn text-right">
        <button class="btn-close" (click)="cancel()">
          <i></i>
        </button>
      </div>

      <div class="row mb-8 align-items-center font1">
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-6 title">
              Associate
            </div>
            <div class="col-6 detail">
             <span  class="text-capitalize" *ngIf="claimDtl?.associateId != ''">{{claimDtl.associateName}} (#{{claimDtl.associateId | slice:claimDtl.associateId.length-6:claimDtl.associateId.length }})</span> 
             <span *ngIf="claimDtl?.associateId == ''">-</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6 title">
              Assignment
            </div>
            <div class="col-6 text-capitalize detail">
              {{claimDtl?.associateJobOrderName }}, {{claimDtl?.clientName}} 
            </div>
          </div>
        </div>
        <div class="col-md-2 d-md-block d-none"></div>
        <div class="col-md-4 col-sm-6 text-right">
          <div class="pb-8 w-170 ml-auto mr-4">
            <div  class="addc-btn-cpsl text-center text-capitalize w-100" 
            [ngClass]="{
              'bg-success': claimDtl?.status == 'approved',
              'bg-danger': claimDtl?.status == 'rejected',
              'bg-warning': claimDtl?.status == 'pending approval',
              'addc-bg-primary': claimDtl?.status == 'processed',
              'bg-warning2': claimDtl?.status == 'draft',
              'addc-bg-primary2': claimDtl?.status == 'verified'
            }">
              <span >{{claimDtl?.status}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
     

    <div class="popup-body mt-8">
      <div class="row mb-16">
        <div class="col-md-6 dtl-text ">
          <div class="ttl-dtl">
            Details
          </div>
          <div class="row">
            <div class="col-md-6 ttl-text">
              Type of Claims
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="d-flex justify-content-space-between">
                <span>{{claimDtl?.claimType}}</span>
                <button class="edit-btn" *ngIf="claimDtl?.status == 'approved'" (click)="isEditType = true;">Edit</button>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="isEditType && claimDtl?.status == 'approved'">
            <div class="col-md-6 ttl-text">
                Edited Type of Claims
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="d-flex flex-wrap">
                <div class="input-edit-currency-container">
                  <input type="text" 
                    [value]="claimDtl?.claimType" 
                    [(ngModel)]="editType"
                    (keyup.enter)="saveEditType()"
                    >
                </div>
                <button class="save-btn  bg-secondary" (click)="saveEditType()">Save</button>
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-md-6 ttl-text">
              Receipt Date
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
                <div class="d-flex justify-content-space-between">
                  <span>{{claimDtl?.receiptDate | date:'dd/MM/yyyy'}}</span>
                  <button class="edit-btn" *ngIf="claimDtl?.status == 'approved'" (click)="isEditRecieptDate = true;">Edit</button>
                </div>
            </div>
          </div> 
          <div class="row" *ngIf="isEditRecieptDate && claimDtl?.status == 'approved'">
            <div class="col-md-6 ttl-text">
                Edited Receipt Date
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class=" d-flex flex-wrap ">
                <div class="input-edit-currency-container ">
                  <div class="d-flex">
                    <input matInput 
                      [matDatepicker]="picker" 
                      [(ngModel)]="editRecieptDate" 
                      (keyup.enter)="saveEditRecieptDate()"
                      >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                </div>
                <button class="save-btn  bg-secondary" (click)="saveEditRecieptDate()">Save</button>
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-md-6 ttl-text">
              Currency
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              {{claimDtl?.currency}}
            </div>
          </div> 
          <!-- <div class="row">
            <div class="col-md-6 ttl-text">
              Exchange Mode
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <span>N/A</span>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-6 ttl-text">
              Exchange Rate
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <span>N/A</span>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-6 ttl-text">
              Receipt Amount
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="d-flex justify-content-space-between">
                <span>{{claimDtl.receiptAmount | currency:claimDtl.currency?.toUpperCase() :'symbol-narrow' }}</span>
                <button class="edit-btn" *ngIf="claimDtl?.status == 'approved'" (click)="isEditAmount = true;">Edit</button>
              </div>
            </div>
          </div> 
          <div class="row" *ngIf="isEditAmount && claimDtl?.status == 'approved'">
            <div class="col-md-6 ttl-text">
                Edited Amount
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class=" d-flex flex-wrap">
                <div class="input-edit-currency-container">
                  <input type="number" 
                    id="editAmt"
                    [value]="claimDtl.receiptAmount" 
                    [(ngModel)]="editAmont"
                    (keyup.enter)="saveEditAmount()"
                    >
                </div>
                <button class="save-btn  bg-secondary" (click)="saveEditAmount()">Save</button>
              </div>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-6 ttl-text">
              Remarks
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="w-500">{{claimDtl?.noReceiptRemarks}}</div>
            </div>
          </div> 
          <div class="row" *ngIf="claimDtl?.status == 'rejected'">
            <div class="col-md-6 ttl-text">
              Remark Rejection
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="w-500">{{claimDtl?.rejectionRemarks}}</div>
            </div>
          </div> 
        </div>
        <div class="col-md-6 dtl-pdf-view " *ngIf="claimDtl?.receiptUrls.length > 0">
          <div class="d-flex justify-content-end flex-wrap">
            <div class="ttl-dtl w-330">
              Attachment<span *ngIf="claimDtl?.receiptUrls.length>1">s</span>
            </div>
            <div class="file-view d-inline-block" >
              <div class="pdf">
                <div *ngIf="!isImages(claimDtl?.receiptUrls[attchIdx])">
                  <!-- <div *ngIf="isPdfLoad" class="w-100 d-flex justify-content-center align-items-center pdf-loading"><mat-spinner diameter="20"></mat-spinner></div>
                  <div [ngClass]="{'d-none': isPdfLoad}">
                    <pdf-viewer 
                        [src]="claimDtl?.receiptUrls[attchIdx]"
                        [show-all]="false"
                        [render-text]="true"
                        [zoom]="0.35"
                        (on-progress)="pdfLoad($event)"
                        page="1"
                      >
                    </pdf-viewer>
                  </div> -->
                </div>
                <div *ngIf="isImages(claimDtl?.receiptUrls[attchIdx])">
                  <img [src]="claimDtl?.receiptUrls[attchIdx]+'?alt=media'" alt="attachment">
                </div>
              </div>
              <button class="pdf-view" (click)="showPopUpPDF(claimDtl?.receiptUrls[attchIdx])">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="18" viewBox="0 0 22 16">
                  <g fill="none" fill-rule="evenodd">
                      <path d="M-1-4h24v24H-1z"/>
                      <path fill="#5cb8b2" d="M11 .5C6 .5 1.73 3.61 0 8c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5C20.27 3.61 16 .5 11 .5zM11 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8C9.34 5 8 6.34 8 8s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                  </g>
                </svg>
              </button>
              <div class="pdf-view-more" *ngIf="claimDtl?.receiptUrls.length > 1">
                <button (click)="viewMoreAttch(claimDtl?.receiptUrls.length)" [disabled]="isPdfLoad">
                  View More Attachment
                  <i class="fa fa-angle-down"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="prevbtn" *ngIf="data.length > 1">
        <button [disabled]="!isDataPrevAct" (click)="prevData()">
          <img src="assets/images/icon/Arrow_icon.png" alt="arrow" style="transform: rotate(180deg);">
        </button>
      </div>
      <div class="nextbtn" *ngIf="data.length > 1">
        <button [disabled]="!isDataNextAct" (click)="nextData()">
          <img src="assets/images/icon/Arrow_icon.png" alt="arrow">
        </button>
      </div>
    </div>       
    <div class="popup-footer" *ngIf=" claimDtl?.status == 'approved'">
      <div class="row">
        <div class="col-sm-6 text-center">
          <button class="addc-btn-capsule pl-16 text-center bg-error w-228 text-white" (click)="rejectClaim()">Reject</button>
        </div>
        <div class="col-sm-6 text-center">
          <textarea *ngIf="isRejectClicked" class="reject-remark" placeholder="Enter remarks for rejection, then click ‘Reject’ again to confirm" [(ngModel)]="rejectRemarks"></textarea>
          <button  class="addc-btn-capsule pl-16 bg-base w-228 text-white" *ngIf="!isRejectClicked" (click)="verify()">Verify for Processing</button>
        </div>
      </div>
    </div>
  </div>