
$base-green-color: #5cb8b2;
$secondary-color: #e0e0e0;
$light-color:#cae5e3;
$error : #d78189;

//color
$addc-danger: #e3a86b;
$addc-warning:#f5d66e;
$addc-success:#c4d36d;
$addc-primary: #85bae7;

@font-face {
    font-family: 'Roboto';
    src: url('src/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('src/assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font1:Roboto;
$fontello: fontello;
$fontawesome: fontawesome;