<table id="exportTable">
    <tr>
        <th class="font-weight-bold">Associate ID</th>
        <th class="font-weight-bold">Name</th>
        <th class="font-weight-bold">NIRC</th>
        <th class="font-weight-bold">Leave Type</th>
        <th class="font-weight-bold">Start</th>
        <th class="font-weight-bold">End</th>
        <th class="font-weight-bold">Duration</th>
        <th class="font-weight-bold">Status</th>
      </tr>
      <tr *ngFor="let item of dataTable">
        <td >{{item.associateId}}</td>
        <td >{{item.createdByName}}</td>
        <td >{{item.associateNric}}</td>
        <td >{{item.leaveType}}</td>
        <td >{{item.startDate }}</td>
        <td >{{item.endDate}}</td>
        <td ></td>
        <td >{{item.status}}</td>
      </tr>
</table>