@import '../../../../@themes/styles/style.scss';

.admin-menu{
    padding-top: 24px;

    .menu{
        list-style: none;
        padding: 0;

        .menu-item{
            transition: all .3s ease-in-out;
            list-style: none;
            margin-bottom: 4px;

            .text-seperate{
                font-family: $font1;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.43;
                letter-spacing: normal;
                color: #000000;
                margin: 0;
                padding: 12px 16px;
            }

            .menu-link{
                background: transparent;
                border:none;
                margin: 0;
                font-family: $font1;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.5);
                text-transform: capitalize;
                padding: 12px 14px 12px 16px;
                display: block;
                text-decoration: none;
                position: relative;
                width: 100%;
                text-align: left;
                
                &.has-child{
                    padding-right: 25px;
                }

                &:active,
                &:focus{
                    outline: none;
                }
                
                &:not(.link-active):hover{
                    background-color: rgba(92, 184, 178, 0.1);
                }

                .caretdown{
                    position: absolute;
                    right: 16px;
                    top: 16px;
                    transition: all .3s ease-in-out;
                    transform: rotate(90deg);
                }


                &.link-active{
                    color: $base-green-color;
                    background-color: rgba(92, 184, 178, 0.3) !important;
                    font-weight: bold;
                    & + .admin-menu-child{
                        background-color: rgba(92, 184, 178, 0.1);
                    }
                }

                &:hover,
                &.link-active{
                    &:after{
                        position: absolute;
                        content: '';
                        top: 0;
                        bottom: 0;
                        left: 0;
                        background-color: $base-green-color;
                        width: 3px;
                    }
                }

                &.active{

                    .caretdown{
                        transform: rotate(0);
                        color: #000 !important;
                    }
                    & + .admin-menu-child{
                        display: block;
                    }
                }

                &.active-dd{
                    font-weight: bold;
                    background-color: lighten($base-green-color,40%);
                    & + .admin-menu-child{
                        background-color: lighten($base-green-color,40%);
                    }
                }

                .icn,img{
                    width: 24px;
                    height: 24px;
                    font-size: 20px;
                    margin-right: 4px;
                }
                i{
                    color: #7f7f7f !important;
                }
                
            }
        }
    }

    .admin-menu-child{
        display: none;
        .menu-item{
            background: transparent;
            margin: 0;
            .menu-link{
                line-height: 1.43;
                padding: 6px 14px 6px 16px;
                &:after{
                    transition: all .3s ease-in-out;
                }
                &:hover,
                &.active{
                    // color: #5cb8b2;
                    background-color: rgba(92, 184, 178, 0.1);
                   
                }
               
            }
        }
    }
}