<div class="admin-menu">
    <ul class="menu" >
        <li class="menu-item addc-scroll" *ngFor="let menu of mn; let i = index">
            <a class="menu-link" [routerLink]="['/'+menu.path]"   routerLinkActive #rla="routerLinkActive" [ngClass]="rla.isActive ? 'link-active' : ''"  *ngIf="menu.child == undefined" (click)="activeClick('')">
                <i *ngIf="menu.iconclass != undefined" class="icn {{menu.iconclass}}"></i>
                <img *ngIf="menu.icon != undefined" src="{{menu.icon}}" alt="{{menu.icon}}">
                {{menu.title}} 
            </a>
            <button class="menu-link has-child" *ngIf="menu.child != undefined" [ngClass]="{'active':menuClick[i],'active-dd':mnDdActive[i]}" (click)="menuClick[i] = (menuClick[i]? false :true ); ">
                <i *ngIf="menu.iconclass != undefined" class="icn {{menu.iconclass}}"></i>
                <img *ngIf="menu.icon != undefined" src="{{menu.icon}}" alt="{{menu.icon}}">
                {{menu.title}} 
                <i class="caretdown fa fa-caret-down"></i>
            </button>
    
            <div class="admin-menu-child" *ngIf="menu.child != undefined">
                <ul class="menu" >
                    <li class="menu-item" *ngFor="let child of menu.child">
                        <p class="text-seperate text-uppercase" *ngIf="child.path == undefined">{{child.title}} </p>
                        <a class="menu-link" *ngIf="child.path != undefined" [routerLink]="['/'+child.path]" routerLinkActive #rla="routerLinkActive" [ngClass]="rla.isActive ? 'link-active' : ''" (click)="activeClick(child.path)" >
                            <i class="{{child.icon}}"></i>
                            {{child.title}} 
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

