<div class="mt-8">
    <form  [formGroup]="searchForm" (ngSubmit)="search()" novalidate class="search">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="svg">
                <g fill="none" fill-rule="evenodd">
                    <path d="M0 0h24v24H0z"/>
                    <path fill="#000" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                </g>
            </svg>
            <input type="text" placeholder="Search for anything ..." formControlName="search">
        </div>
    </form>
    <div class="top-badge mt-24">
        <div class="add-card primary d-inline-block">
            <p class="font-weight-bold">Block Height</p>
            <p>{{block_height}}</p>
        </div>
        <div class="add-card success d-inline-block">
            <p class="font-weight-bold">Last Transaction</p>
            <p>{{last_transaction | date :'dd/MM/yy, hh:mm:ss a' }}</p>
        </div>
    </div>


    <div class="mt-24">
        <div class="addc-table-container">
            <table mat-table [dataSource]="dataSource" 
                matSort 
                (matSortChange)="sortData($event)"
                class="addc-table addc-tbl-round ">
                <ng-container matColumnDef="_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div class="ellapsis tblid" title="{{element._id}}">
                            {{element.blockNum}}
                        </div>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div>
                            {{element.timestamp | date :'dd/MM/yyyy'}}
                        </div>
                        <div>
                            {{element.timestamp | date :'hh:mm:ss a'}}
                        </div>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="firstPartyName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Party </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div>
                            {{element.firstPartyName}} 
                        </div>
                        <div class="text-uppercase">
                            (#{{element.firstPartyId | slice:element.firstPartyId.length-6:element.firstPartyId.length}})
                        </div>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="firstPartyRole">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                    <td mat-cell *matCellDef="let element"> 
                       <span class="text-capitalize">
                           {{element.firstPartyRole}} 
                       </span> 
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                </ng-container>

                <ng-container matColumnDef="secondPartyName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Second Party </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div>
                            {{element.secondPartyName}} 
                        </div>
                        <div class="text-uppercase">
                            (#{{element.secondPartyName  | slice:element.secondPartyName.length-6:element.secondPartyName.length}})
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="secondPartyRole">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                    <td mat-cell *matCellDef="let element">
                       <span class="text-capitalize">
                            {{element.secondPartyRole}} 
                        </span>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="paginator mt-4 ">
            <div class="d-flex justify-content-space-between mr-4 align-items-center">
                <div>
                    <button class="nxprv lft" [disabled]="page == 1" (click)="firstPage()">
                        <i class="icon-left-open"></i>
                        <i class="icon-left-open"></i>
                    </button>
                    <button class="nxprv" [disabled]="page == 1" (click)="prevPage()">
                        <i class="icon-left-open"></i>
                    </button>
                    <button class="pg-btn mr-2" *ngIf="pages[0] != 1" (click)="jumpPrev()"> ... </button>
                    <button class="" *ngFor="let pg of pages" class="pg-btn" (click)="clickPage(pg)" [ngClass]="{'active': pg==page}">
                        {{pg}}
                    </button>
                    <button class="pg-btn ml-2" *ngIf="pages[pages.length - 1] < maxPage" (click)="jumpNext()"> ... </button>
                    <button class="nxprv" [disabled]="page == maxPage" (click)="nextPage()">
                        <i class="icon-right-open"></i>
                    </button>
                    <button class="nxprv rght" [disabled]="page == maxPage" (click)="lastPage()">
                        <i class="icon-right-open"></i>
                        <i class="icon-right-open"></i>
                    </button>
                </div>
                <div class="pg">Page 
                    <input type="text" [(ngModel)]="slpage" class="pginpt">
                        from {{maxPage}}
                    <button (click)="slctPage()" class="pgbtngo">go</button>
                </div>
            </div>
        </div>
    </div>

</div>