@import '../../general.scss';

@mixin replace-add-card($color) {
    &::after{
        background-color: lighten($color,5%);
    }
    background: lighten($color, 17%);
  }






table {
    width: 100%;
}
th.mat-sort-header-sorted {
    color: black;
}

.mt-8{
    margin-top: 8px;
}
.mt-24{
    margin-top: 24px;
}

.search{
    &>div{
        position: relative;
    }
    input{
        width: 353px;
        height: 32px;
        border-radius: 22px;
        background-color: rgba(0, 0, 0, 0.05);
        border: none;
        padding: 6px 15px;
        padding-left: 35px;
        font-family: $font1;
        font-size: 14px;
    }
    .svg{
        position: absolute;
        left: 7px;
        top: 4px;
        path:last-child{
            fill: $base-green-color;
        }
    }
}

.add-card{
    border-radius: 8px;
    padding: 8px 16px;
    position: relative;
    overflow: hidden;
    width: 200px;
    margin-right: 16px;

    &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 8px;
    }
    p{
        margin: 0;
    }

    &.primary{
        @include replace-add-card($addc-primary);
    }
    &.success{
        @include replace-add-card($addc-success);
    }
}

.addc-table-container{
    height: 400px;
    overflow: auto;
}

.tblid{
    max-width: 50px;
}
.nxprv{
    background: transparent;
    border: none;

    &.lft > i:first-child{
        margin-right: -18px;
    }
    &.rght > i:first-child{
        margin-right: -18px;
    }
}
.pg{
    font-size: 12px;
    color: lighten(#000, 60%);
}
.pg-btn{
    font-size: 12px;
    font-family: $font1;
    border: none;
    background: none;
    color: lighten( #000, 60%);
    &.active{
        color: #000;
    }
}

.pginpt{
    border-radius: 3px;
    width: 30px;
    text-align: center;
    border: none;
    margin: 0 5px;
}

.pgbtngo{
    border: none;
    border-radius: 3px;
    background-color: lighten($base-green-color, 20%);
    margin: 0 5px;
}