<div>
    <div class="row align-item-start">
      <div class="col-md-6">
        <div class="addc-input-capsule-search-container">
          <input  (keyup)="applyFilter($event.target.value, $event.code)" placeholder="Search for leave" class="search">
        </div>
      </div>
      <div class="col-md-6 text-right">
        <a [routerLink]="['./create-new-leave-type']" class="addc-btn-capsule">
          <i class="icon-plus"></i>
          Add New
        </a>
      </div>
    </div>
  
    <div class="addc-table-container" style="min-height:680px">
      <table mat-table 
        [dataSource]="dataSource" 
        matSort 
        (matSortChange)="sortData($event)"
        class="addc-table addc-tbl-round w-100"  >

        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-150px pl-40"> Client ID </th>
          <td mat-cell *matCellDef="let element" class="pl-40"> 
              {{element._id | slice:element._id.length-6:element._id.length}}
          </td>
        </ng-container>
      
        <ng-container matColumnDef="leaveType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Leave Type </th>
          <td mat-cell *matCellDef="let element" class="text-capitalize"> 
            {{element.leaveType}}
          </td>
        </ng-container>
      
        <ng-container matColumnDef="statutory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  >Statutory?</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize">
            {{element.statutory?'yes':'no'}}
          </td>
        </ng-container>
      
        <ng-container matColumnDef="unpaid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Unpaid? </th>
          <td mat-cell *matCellDef="let element" class="text-capitalize"> 
              <!-- {{element.unpaid?'yes':'no'}} -->
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Action </th>
          <td mat-cell *matCellDef="let element" > 
              <!-- {{element.action}} -->
          </td>
        </ng-container>

        <ng-container matColumnDef="document">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Document</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize"> 
              <!-- {{element.document?'yes':'no'}} -->
          </td>
        </ng-container>

        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Remarks?</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize"> 
              {{element.statutoryEntitlements.remarks?'yes':'no'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class=" pr-40"> </th>
          <td mat-cell *matCellDef="let element" > 
            <button class="trashbtn"><i class="fa fa-trash"></i></button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      </table>
    </div>
</div>
  
  
  <mat-paginator 
    [length]="pageLength"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent($event) "
    class="addc-table-page"
    showFirstLastButtons
  >
  </mat-paginator>
  
  <!-- =======================================================
                            popup 
  =======================================================-->
  