@import '../../../../general.scss';

.addc-mark-as-sign{
    display: inline-block ;
    border-radius: 18px;
    border: 1px solid rgba(151, 151, 151, 0.3);
    padding: 0;
    position: relative;

    input[type=checkbox] {
        visibility: hidden;
        &:checked + label:after {
            opacity: 1;
        }
    }  

    span{
        width: 14px;
        height: 14px;
        border: 1px solid #000;
        position: absolute;
        border-radius: 50%;
        padding: 2px;
        left: 10px;
        top: 7px;
        transition: all .3s ease-in-out;
    }

    input:checked + span {
        background: #000;
        i{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #fff;
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
        }
    }  

    label{
        padding: 5px 12px 5px 18px;
        margin-bottom: 0;
        font-family: $font1;
        font-size: 14px;
        
    }
}

  