<table mat-table [dataSource]="dataSource" matSort class="addc-table w-100">

    <ng-container matColumnDef="ec_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > EC ID </th>
      <td mat-cell *matCellDef="let element" > 
        # {{element.ec_id | slice:element.ec_id.length-5:element.ec_id.length  }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="client_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
      <td mat-cell *matCellDef="let element"> 
        <span class="text-capitalize">
          {{element.client_name}}
        </span>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="job_order_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Job Order Name</th>
      <td mat-cell *matCellDef="let element" >
        {{element.job_order_name}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="associate_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Associate ID </th>
      <td mat-cell *matCellDef="let element"> 
        {{element.associate_id == ''?'N/A':element.associate_id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="associate_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Associate Name </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.associate_name == ''?'N/A':element.associate_name}}
        </td>
      </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let element; let idx = index" > 
        <div class="addc-mark-as-sign roundedOne">
          <input type="checkbox" id="signed-{{idx}}" [value]="element.action">
          <span><i></i></span>
          <label for="signed-{{idx}}">Mark as Signed</label>
        </div>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>