<div class="bg-white popup-item">

    <div class="popup-header mb-8">
      <div class="close-btn text-right">
        <button class="btn-close" (click)="cancel()">
          <i></i>
        </button>
      </div>

      <div class="row mb-8 align-items-center font1">
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-6 title">
              Associate
            </div>
            <div class="col-6 detail">
             <span  class="text-capitalize" *ngIf="leaveDtl?.associateId != ''">{{leaveDtl.associateName}} (#{{leaveDtl.associateId | slice:leaveDtl.associateId.length-6:leaveDtl.associateId.length }})</span> 
             <span *ngIf="leaveDtl?.associateId == ''">-</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6 title">
              Assignment
            </div>
            <div class="col-6 text-capitalize detail">
              {{leaveDtl?.associateJobOrderName }}, {{leaveDtl?.clientName}} 
            </div>
          </div>
        </div>
        <div class="col-md-2 d-md-block d-none"></div>
        <div class="col-md-4 col-sm-6 text-right">
          <div class="pb-8 w-170 ml-auto mr-4">
            <div  class="addc-btn-cpsl text-center w-100" 
              [ngClass]="{
                'bg-success': leaveDtl.status == 'approved',
                'bg-danger': leaveDtl.status == 'rejected',
                'addc-bg-primary': leaveDtl.status == 'processed',
                'bg-warning': leaveDtl.status == 'pending approval',
                'addc-bg-primary2': leaveDtl.status == 'verified',
                'bg-warning2': leaveDtl.status == 'draft'
              }">
              <span class="text-center text-capitalize " >{{leaveDtl.status}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
     

    <div class="popup-body mt-8">
      <div class="row mb-16">
        <div class="col-md-6 dtl-text ">
          <div class="ttl-dtl">
            Details
          </div>
          <div class="row">
            <div class="col-md-6 ttl-text">
              Leave ID
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="d-flex justify-content-space-between">
                <span class="text-capitalize">#{{leaveDtl?._id | slice:leaveDtl?._id.length-6:leaveDtl?._id.length}}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 ttl-text">
                Leave Type
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="d-flex justify-content-space-between">
                <span class="text-capitalize">{{leaveDtl?.leaveType}}</span>
              </div>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-6 ttl-text">
              Sub-Leave Type
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <span class="text-capitalize" *ngIf="leaveDtl?.leaveSubtype != ''">{{leaveDtl?.leaveSubtype}}</span>
              <span *ngIf="leaveDtl?.leaveSubtype == ''">N/A</span>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-6 ttl-text">
              Start Date
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="d-flex justify-content-space-between">
                <span>{{leaveDtl?.startDate| date:'dd/MM/yyyy'}}</span>
              </div>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-6 ttl-text">
              End Date
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="w-500">{{leaveDtl?.endDate| date:'dd/MM/yyyy'}}</div>
            </div>
          </div> 
          <div class="row" >
            <div class="col-md-6 ttl-text">
              Total
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="w-500">2 days</div>
            </div>
          </div> 
          <div class="row" >
            <div class="col-md-6 ttl-text">
              Remarks
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="w-500">{{leaveDtl?.remarks == undefined?'N/A':leaveDtl?.remarks }}</div> 
            </div>
          </div> 
          <div class="row" *ngIf="leaveDtl?.status == 'rejected'">
            <div class="col-md-6 ttl-text">
              Remark Rejection
            </div>
            <div class="col-md-6 dtl-text font-weight-bold">
              <div class="w-500">[admin] {{leaveDtl?.rejectionRemarks}}</div>
            </div>
          </div> 
        </div>
      </div>

      <div class="prevbtn" *ngIf="data.length > 1">
        <button [disabled]="!isDataPrevAct" (click)="prevData()">
          <img src="assets/images/icon/Arrow_icon.png" alt="arrow" style="transform: rotate(180deg);">
        </button>
      </div>
      <div class="nextbtn" *ngIf="data.length > 1">
        <button [disabled]="!isDataNextAct" (click)="nextData()">
          <img src="assets/images/icon/Arrow_icon.png" alt="arrow">
        </button>
      </div>
    </div>       
</div>