<header class="admin-header">
    <div class="d-flex">
        <div class="logo">
            <a [routerLink]="['/']" >
                <img src="assets/images/adecco-hor.png" alt="logo">
            </a>
        </div>
        <div class="cntr ">
            <div class="d-flex justify-content-space-between align-items-start w-100">
                <div class="search">
                    <div>
                        <!-- <i class="fa fa-search"></i> -->
                        <img src="assets/images/icon/search.png" alt="search">
                        <input type="text" placeholder="Search for anything ...">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="menu">
                        <div class="main-mn notification" ngbDropdown >
                            <button id="notifmenu" class="btn-mn" ngbDropdownToggle >
                                <img src="assets/images/icon/notification.png" alt="bell">
                            </button>
                            <div class="mn-child" ngbDropdownMenu aria-labelledby="notifmenu">
                                <button class="mn-container">
                                    <div class="img-avatar">
                                        <img src="assets/images/profile.jpg" alt="profile">
                                    </div>
                                    <div class="det">
                                        <div class="msg">
                                            <b>Mary Tan (Associate ID: 001)</b> has 
                                            <br>submitted her timesheet.
                                        </div>
                                        <div class="time">
                                            11 hours ago
                                        </div>
                                    </div>
                                </button>
                                <button class="mn-container">
                                    <div class="img-avatar">
                                        <img src="assets/images/profile.jpg" alt="profile">
                                    </div>
                                    <div class="det">
                                        <div class="msg">
                                            <b>Mary Tan (Associate ID: 001)</b> has 
                                            <br>submitted her timesheet.
                                        </div>
                                        <div class="time">
                                            11 hours ago
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        
                        <div class="main-mn settings" ngbDropdown>
                            <button class="" id="settingmenu" ngbDropdownToggle >
                                <img src="assets/images/icon/settings.png" alt="bell">
                            </button>
                            <div ngbDropdownMenu aria-labelledby="settingmenu" class="mn-child">
                                <button class="mn-container">
                                    Settings
                                </button>
                                <button class="mn-container">
                                    Settings
                                </button>
                                <button class="mn-container">
                                    Settings
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class=" profile" ngbDropdown>
                        <button class="bt-profile" id="profilemenu" ngbDropdownToggle >
                            <div class="user-pic">
                                <img src="assets/images/profile.jpg" alt="profile"  *ngIf="user?.photoURL == null">
                                <img src="{{user?.photoURL}}" alt="{{user?.photoURL}}" *ngIf="user?.photoURL != null">
                            </div>
                            <div class="user-name">
                                <h3 >{{user?.name}}</h3>
                            </div>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="profilemenu" class="mn-child">
                            <button class="mn-container" (click)="logout()">
                                Log out
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>