@import '../../../../general.scss';

.border-radius-8{
    border-radius: 8px;
}
.w-353{
    width: 353px;
}
.claim-upload{
    width: 180px;
    border-radius: 10px;
    background:lighten(#000,  95%);
    .logo{
        padding: 16px;
    }
    .ttl {
        font-family: $font1;
        font-size: 14px;
        color: #000;
    }
    .ddbtn{
        button{
            font-family: $font1;
            font-size: 14px;
            text-align: center;
            color: $base-green-color;
            padding: 6px 13px;
            background: #fff;
            border-radius: 35px;
            border:none;
            box-shadow: 0px 1px 2px rgba(0,0,0,.3);
            width: 77px;
        }
    }
}

.desc{
    margin-bottom: 16px;
    p{
        font-family: $font1;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 0;
    }
}