<div  style="min-height: 510px">
    <div class="bg-white border-radius-8 px-24">
      <div class="w-353">
        <mat-form-field class="addc-drowdown-usual w-100">
          <mat-select value="option0">
            <mat-option value="option0">Client Name: IBM 1</mat-option>
            <mat-option value="option1">Client Name: IBM 2</mat-option>
            <mat-option value="option2">Client Name: IBM 3</mat-option>
            <mat-option value="option3">Client Name: IBM 4</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      
      <div class="upload-container d-flex flex-wrap pt-16">
        <ngx-file-drop dropZoneLabel="Drop files here" class="claim-upload mr-4" (onFileDrop)="dropped($event)" 
          (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              <div class="d-flex flex-wrap justify-content-center">
                <div class="logo w-100 d-flex justify-content-center align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="64" height="44" viewBox="0 0 64 44">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M0-10h64v64H0z"/>
                        <path fill="#000" fill-opacity=".1" d="M51.6 16.773C49.787 7.573 41.707.667 32 .667c-7.707 0-14.4 4.373-17.733 10.773C6.24 12.293 0 19.093 0 27.333c0 8.827 7.173 16 16 16h34.667C58.027 43.333 64 37.36 64 30c0-7.04-5.467-12.747-12.4-13.227zm-14.267 7.894v10.666H26.667V24.667h-8L32 11.333l13.333 13.334h-8z"/>
                    </g>
                  </svg>
                </div>
                <div class="ttl w-100 text-center">
                  Hiring Proposal*
                </div>
                <div class="ddbtn w-100 text-center pt-16">
                  <button type="button" (click)="openFileSelector()">Upload</button>
                </div>
              </div>
            </ng-template>
        </ngx-file-drop>
      
      
        <ngx-file-drop dropZoneLabel="Drop files here" class="claim-upload" (onFileDrop)="dropped($event)" 
          (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              <div class="d-flex flex-wrap justify-content-center">
                <div class="logo w-100 d-flex justify-content-center align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="64" height="44" viewBox="0 0 64 44">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M0-10h64v64H0z"/>
                        <path fill="#000" fill-opacity=".1" d="M51.6 16.773C49.787 7.573 41.707.667 32 .667c-7.707 0-14.4 4.373-17.733 10.773C6.24 12.293 0 19.093 0 27.333c0 8.827 7.173 16 16 16h34.667C58.027 43.333 64 37.36 64 30c0-7.04-5.467-12.747-12.4-13.227zm-14.267 7.894v10.666H26.667V24.667h-8L32 11.333l13.333 13.334h-8z"/>
                    </g>
                  </svg>
                </div>
                <div class="ttl w-100 text-center">
                  Hiring Proposal*
                </div>
                <div class="ddbtn w-100 text-center pt-16">
                  <button type="button" (click)="openFileSelector()">Upload</button>
                </div>
              </div>
            </ng-template>
        </ngx-file-drop>
      </div>
    
      <div class="desc pt-16">
        <p>*Please upload the final Hiring Proposal in Excel format, and ensure that no columns are hidden.</p>
        <p> For ISA, please remove the first 2 pages on Standard Business Terms before uploading.</p>
      </div>
    </div>
</div>


<div class="addc-bottom d-flex justify-content-space-between pt-16">
  <div>
    <a class="addc-btn btn-secondary"  >Cancel</a>
  </div>
  <div>
    <button class="addc-btn btn-light mr-3" >Save as draft</button>
    <button class="addc-btn btn-primary" >Upload</button>
  </div>
</div>