.searchinput{
    width: 100%;
    max-width:400px;
}

.addc-table-container {
    height: 68vh;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    filter: drop-shadow( 0 2px 2px rgba(0,0,0,.05));
}