<div>
  <div class="row align-item-start">
    <div class="col-md-6">
      <div class="addc-input-capsule-search-container searchinput">
        <input placeholder="Search claims" class="search">
      </div>
    </div>
    <div class="col-md-6  d-flex justify-content-end">
      <div>
        <a [routerLink]="['./create-new-claim-type']" class="addc-btn-capsule download-scv pl-16 " >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
                <path d="M0 0h24v24H0z"/>
                <path fill="#000" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z"/>
            </g>
          </svg>
          Create New
        </a>
      </div>
    </div>
  </div>


  <div class="addc-table-container">
      <table mat-table 
      [dataSource]="dataSource" 
      matSort 
      (matSortChange)="sortData($event)"
      class="addc-table addc-tbl-round w-100"  >

      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-150px pl-40"> Claim Type ID </th>
        <td mat-cell *matCellDef="let element" class="pl-40"> 
         {{element._id}}
        </td>
      </ng-container>
    
      <ng-container matColumnDef="claimType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Claim Type </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.claimType}}
        </td>
      </ng-container>
    
      <ng-container matColumnDef="subClaim">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Claim? </th>
        <td mat-cell *matCellDef="let element" >
          {{element.subClaim?'Yes':'No'}}
        </td>
      </ng-container>
    
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.description?'Yes':'No'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Action </th>
        <td mat-cell *matCellDef="let element" class="pr-40"> 
          {{element.action}}
        </td>
      </ng-container>

      <ng-container matColumnDef="deleted">
        <th mat-header-cell *matHeaderCellDef class=" pr-40" style="width: 80px"></th>
        <td mat-cell *matCellDef="let element" > 
          <button class="trashbtn" >
            <i class="fa fa-trash"></i> 
          </button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>

  </div>
  <mat-paginator 
    [length]="pageLength"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent($event) "
    class="addc-table-page"
    showFirstLastButtons
  >
  </mat-paginator>
  
  
  
    <!-- ================================================
                   popup 
        ================================================-->
  
  </div>