<table mat-table [dataSource]="dataSource" matSort class="addc-table w-100">

    <ng-container matColumnDef="client_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Client Name </th>
      <td mat-cell *matCellDef="let element" > 
        <div *ngIf="!rowEdit || tabelRowId != element.contractId">
            {{element.client_name}}
        </div>
        <div *ngIf="tabelRowId == element.contractId && rowEdit">
          <input class="inptcust" type="text" [value]="element.client_name">
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="job_order_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Order Name </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="!rowEdit || tabelRowId != element.contractId">
          <span class="text-capitalize">
            {{element.job_order_name}}
          </span>
        </div>
        <div *ngIf="tabelRowId == element.contractId && rowEdit">
          <input class="inptcust" type="text" [value]="element.job_order_name">
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="associate_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Associate ID</th>
      <td mat-cell *matCellDef="let element" >
        <div *ngIf="!rowEdit || tabelRowId != element.contractId">
            {{element.associate_id == ''?'N/A':element.associate_id}}
        </div>
        <div *ngIf="tabelRowId == element.contractId && rowEdit">
          <input class="inptcust" type="text" [value]="element.associate_id" >
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="associate_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Associate Name </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="!rowEdit || tabelRowId != element.contractId">
            {{element.associate_name == ''?'N/A':element.associate_name}}
        </div>
        <div *ngIf="tabelRowId == element.contractId && rowEdit">
          <input class="inptcust" type="text" [value]="element.associate_name" >
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="attacment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attacment </th>
      <td mat-cell *matCellDef="let element" > 
        <div *ngIf="!rowEdit || tabelRowId != element.contractId">
          <a target="_self" download="{{element.attacment}}" href="{{element.attacment}}" class="pdf-download" *ngIf="element.attacment != ''">
            <img src="assets/images/icon/pdf.png" alt="pdf" style="width: 24px;">
          </a>
          <span *ngIf="element.attacment == ''">N/A</span>
        </div>
        <div *ngIf="tabelRowId == element.contractId && rowEdit">
          <input class="inptcust" type="file">
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="width: 100px;">  </th>
        <td mat-cell *matCellDef="let element" > 
          <div *ngIf="tabelRowId == element.contractId">
            <button class="addc-btn-bg-none" (click)="editRow()" *ngIf="!rowEdit">
              <svg _ngcontent-yjk-c25="" height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-yjk-c25="" fill="none" fill-rule="evenodd"><path _ngcontent-yjk-c25="" d="M-3-3h24v24H-3z"></path><path _ngcontent-yjk-c25="" d="M0 14.25V18h3.75L14.81 6.94l-3.75-3.75L0 14.25zM17.71 4.04a.996.996 0 0 0 0-1.41L15.37.29a.996.996 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" fill="#85BAE7"></path></g></svg>
            </button>
            <button class="addc-btn-bg-none" (click)="deleteRow()" *ngIf="!rowEdit">
              <svg _ngcontent-yjk-c25="" height="18" viewBox="0 0 14 18" width="14" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-yjk-c25="" fill="none" fill-rule="evenodd"><path _ngcontent-yjk-c25="" d="M-5-3h24v24H-5z"></path><path _ngcontent-yjk-c25="" d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" fill="#D78189"></path></g></svg>
            </button>
            <button class="addc-btn-bg-none" (click)="doneRow()" *ngIf="rowEdit">
              <i class="fa fa-check text-success"></i>
            </button>
          </div>
        </td>
      </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)" [ngClass]="{'greenLine': tabelRowId == row.contractId}"></tr>
  </table>