@import '../../../general.scss';

.addc-input-capsule-search-container{
  width: 100%;
  max-width: 350px;
  input::placeholder{
    color: rgba(0,0,0,.3)
  }
}

.addc-btn-cpsl{
  border: none;
  display: block;
  padding: 8px 16px;
  border-radius: 50px;
  font-family: $font1;
  font-size: 14px;
  line-height: 1.43;

  &.bg-success{
    background: lighten( $addc-success, 16%) !important;
  }
  &.bg-danger{
    background: lighten( $error, 14%) !important;
  }
  &.bg-warning,
  &.bg-warning2{
    background: lighten( $addc-warning, 13%) !important;
  }
  &.addc-bg-primary,
  &.addc-bg-primary2{
    background: lighten($addc-primary,4%) !important;
  }
}

.pdf-download{
  img{
    width: 24px;
    height: 24px;
  }
}

.addc-table-container {
    height: 68vh;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    filter: drop-shadow( 0 2px 2px rgba(0,0,0,.05));
}
  
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

.download-scv{
  padding-left: 16px;
  line-height: 22px;
  display: inline-block;

  .icon{
    height: 22px;
    width: 22px;
    margin-bottom: 2px;
  }
}

.w-170{
  width: 170px !important;
}

.strat-end-date{
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;

  .dts{
    width: 130px;
    border: none;
    line-height: 32px;
    input{
      width: 130px;
      border-right: 1px solid rgba(0,0,0,.1);
    }
  }
  .start-date{
    border-radius: 4px 0 0 4px;
  }
  .date-logo{
    padding: 4px;
    svg g path:last-child{
      fill: rgba(0,0,0,.5)
    }
  }
}



.mb-18{
  margin-bottom: 18px;
}
.mb-62{
  margin-bottom: 62px;
}


.attacment{
  font-family: $font1;
  font-size: 14px;
  line-height: 1.43;
  color: rgba(0, 0, 0, 0.5);
}


.tbl-header-btn{
  background: transparent;
  border:none;

  .tbl-header-img{
    width: 14px;
    -webkit-filter: brightness(10); /* Safari 6.0 - 9.0 */
    filter: brightness(10);

    &.nofilter{
      filter: none;
      width: 11px;
    }
  }
}

.tbl-filter-input{
  position: absolute;
  color: #000;
  background: #fff;
  left: 0;
  width: 250px;
  top: calc(100% + 10px);
  text-align: left;
  border: 1px solid rgba(0,0,0,.2);
  padding: 8px;
  &.right{
    left: auto;
    right: 0;
  }
}

.w-228{
  width: 228px;
}
.w-330{
  width: 330px;
}

.popup-item-cust{
  width: 95%;
  height: 95%;
  display: block;
}