<div>
    <div class="row align-item-start">
      <div class="col-md-4">
        <div class="addc-input-capsule-search-container">
          <input  (keyup)="applyFilter($event.target.value, $event.code)" placeholder="Search for claims" class="search">
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-item-start">
      
      </div>
      <div class="col-md-4 text-right">
        <button class="mr-4 addc-btn-capsule download-scv" (click)="filterData()" [ngClass]="{'bg-base': isFilter}">
          <img src="assets/images/icon/Filter_icon.png" alt="png" class="icon">
          Filter By
        </button>
        <button class="addc-btn-capsule download-scv" (click)="export()">
          <img src="assets/images/icon/download.png" alt="png" class="icon">
          Download Excel
        </button>
      </div>
    </div>
  
    <div class="addc-table-container" >

      <table  mat-table 
      [dataSource]="dataSource" 
      matSort 
      [matSortDisabled]="isFilter" 
      (matSortChange)="sortData($event)"
      class="tbl-claim addc-table addc-tbl-round addc-table-disable-icon-hide">

        <ng-container matColumnDef="associateId">
          <th mat-header-cell mat-sort-header *matHeaderCellDef style="width:130px;"> 
            <span>Associate ID </span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(0)">
              <img src="assets/images/icon/Filter_icon.png" 
                  alt="filter" 
                  class="tbl-header-img"
                  *ngIf="filterByassociateId.length == 0">
              <img src="assets/images/icon/Filter_icon_yellow.png" 
                  alt="filter" 
                  class="tbl-header-img nofilter" 
                  *ngIf="filterByassociateId.length > 0">
            </button>
            <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 0" >
              <table-filter 
                [type]="'associateId'" 
                [inputType]="'checkbox'" 
                (cancel)="cancelFilter($event)"
                (returning)="applyFilterData($event,'associateId')" 
                [chkBfr]="filterByassociateId"
                [search]="true"
                [dataList]="dataListFilter.associateIds"
              ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" > 
            <div *ngIf="element.associateId" class="text-uppercase">#{{element.associateId  | slice:element.associateId.length-6 :element.associateId.length }} </div>
            <div *ngIf="!element.associateId">-</div>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="createdByName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 250px;">  
            <span>Name</span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(1)">
                <img src="assets/images/icon/Filter_icon.png" 
                    alt="filter" 
                    class="tbl-header-img" 
                    *ngIf="filterBycreatedByName.length == 0">
                <img src="assets/images/icon/Filter_icon_yellow.png" 
                    alt="filter" 
                    class="tbl-header-img nofilter" 
                    *ngIf="filterBycreatedByName.length > 0">
            </button>
            <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 1" >
              <table-filter 
                [type]="'name'" 
                [inputType]="'checkbox'" 
                (cancel)="cancelFilter($event)"
                (returning)="applyFilterData($event,'createdByName')" 
                [chkBfr]="filterBycreatedByName"
                [search]="true"
                [dataList]="dataListFilter.createdByNames"
              ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element"> 
            <span class="text-capitalize">
              {{element.createdByName}}
            </span>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="associateNric">
          <th mat-header-cell mat-sort-header *matHeaderCellDef >
            <span>NRIC</span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(2)">
                <img src="assets/images/icon/Filter_icon.png" 
                  alt="filter" 
                  class="tbl-header-img"
                  *ngIf="filterByNric.length == 0">
                <img src="assets/images/icon/Filter_icon_yellow.png" 
                  alt="filter" 
                  class="tbl-header-img nofilter"
                  *ngIf="filterByNric.length > 0">
            </button>
            <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 2" >
                <table-filter 
                  [type]="'nric'" 
                  [inputType]="'checkbox'" 
                  (cancel)="cancelFilter($event)"
                  (returning)="applyFilterData($event,'nric')" 
                  [chkBfr]="filterByNric"
                  [search]="true"
                  [dataList]="dataListFilter.associateNrics"
                ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" >
            <div *ngIf="element.associateNric">{{element.associateNric}}</div>  
            <div *ngIf="!element.associateNric">-</div>  
          </td>
        </ng-container>

        <ng-container matColumnDef="receiptAmount">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>  
            <span>Amount</span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(3)">
              <img src="assets/images/icon/Filter_icon.png" 
                alt="filter" 
                class="tbl-header-img"
                *ngIf="filterByAmount.length == 0">
              <img src="assets/images/icon/Filter_icon_yellow.png" 
                alt="filter" 
                class="tbl-header-img nofilter"
                *ngIf="filterByAmount.length > 0">
            </button>
            <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 3" >
                <table-filter 
                  [type]="'Amount'" 
                  [inputType]="'checkbox-range'" 
                  (cancel)="cancelFilter($event)"
                  (returning)="applyFilterData($event,'receiptAmount')" 
                  [chkBfr]="filterByAmount"
                  [search]="false"
                  [dataList]="amountData"
                ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.receiptAmount | currency:element.currency?.toUpperCase() :'symbol-narrow' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell mat-sort-header *matHeaderCellDef  style="width: 180px;">  
            <span>Status</span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(4)">
              <img src="assets/images/icon/Filter_icon.png" 
                alt="filter" 
                class="tbl-header-img"
                *ngIf="filterByStatus.length == 0">
              <img src="assets/images/icon/Filter_icon_yellow.png" 
                alt="filter" 
                class="tbl-header-img nofilter"
                *ngIf="filterByStatus.length > 0">  
            </button>
            <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 4" >
                <table-filter 
                  [type]="'status'" 
                  [inputType]="'checkbox'" 
                  (cancel)="cancelFilter($event)"
                  (returning)="applyFilterData($event,'status')" 
                  [chkBfr]="filterByStatus"
                  [search]="false"
                  [dataList]="dataListFilter.statuses"
                ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" > 
            <button  class="addc-btn-cpsl text-center w-100" 
              (click)="showClaimDetail(element)"
              [ngClass]="{
                'bg-success': element.status == 'approved',
                'bg-danger': element.status == 'rejected',
                'addc-bg-primary': element.status == 'processed',
                'bg-warning': element.status == 'pending approval',
                'addc-bg-primary2': element.status == 'verified',
                'bg-warning2': element.status == 'draft'
              }">
              <span class="text-center text-capitalize " >{{element.status}}</span>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="receiptUrls">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>  
            <span>Attachment</span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(5)">
              <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(4)">
                <img src="assets/images/icon/Filter_icon.png" 
                  alt="filter" 
                  class="tbl-header-img"
                  *ngIf="filterByAttachment.length == 0">
                <img src="assets/images/icon/Filter_icon_yellow.png" 
                  alt="filter" 
                  class="tbl-header-img nofilter"
                  *ngIf="filterByAttachment.length > 0">  
              </button>
            </button>
            <div class="tbl-filter-input " *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 5" >
              <table-filter 
                [type]="'attachment'" 
                [inputType]="'checkbox'" 
                (cancel)="cancelFilter($event)"
                (returning)="applyFilterData($event,'attachment')" 
                [chkBfr]="filterByAttachment"
                [search]="false"
                [dataList]="attachmenFilter"
              ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" > 
            <div class="text-left">
              <div *ngIf="element.receiptUrls.length == 1" class="pdf-download">
                <img src="assets/images/icon/pdf.png" alt="pdf">
              </div>
              <div *ngIf="element.receiptUrls.length > 1" class="pdf-download">
                <img src="assets/images/icon/pdf.png" alt="pdf">
                <img src="assets/images/icon/pdf.png" alt="pdf">
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="createdTime">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> 
            <span>Date Submitted </span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(6)">
              <img src="assets/images/icon/Filter_icon.png" 
                alt="filter" 
                class="tbl-header-img"
                *ngIf="filterByDateSubmitted.length == 0">
              <img src="assets/images/icon/Filter_icon_yellow.png" 
                alt="filter" 
                class="tbl-header-img nofilter"
                *ngIf="filterByDateSubmitted.length > 0">
            </button>
            <div class="tbl-filter-input right" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 6" >
                <table-filter 
                  [type]="'submission date'" 
                  [inputType]="'date-picker-range'" 
                  (cancel)="cancelFilter($event)"
                  (returning)="applyFilterData($event,'submissionDate')" 
                  [chkBfr]="filterByDateSubmitted"
                  [search]="false"
                ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" > 
            {{element.createdTime  | date:'dd/MM/yyyy'}}
            <br>
            {{element.createdTime  | date:'hh:mm a'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="approved">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> 
            <span>Date Approved </span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(7)">
              <img src="assets/images/icon/Filter_icon.png" 
                alt="filter" 
                class="tbl-header-img"
                *ngIf="filterByDateApproved.length == 0">
              <img src="assets/images/icon/Filter_icon_yellow.png" 
                alt="filter" 
                class="tbl-header-img nofilter"
                *ngIf="filterByDateApproved.length > 0">
            </button>
            <div class="tbl-filter-input right" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 7" >
              <table-filter 
                [type]="'approved date'" 
                [inputType]="'date-picker-range'" 
                (cancel)="cancelFilter($event)"
                (returning)="applyFilterData($event,'approved')" 
                [chkBfr]="filterByDateApproved"
                [search]="false"
              ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="text-capitalize"> 
            <div *ngIf="element.approved[element.approved.length-1]?.approveTime != ''">
              {{element.approved[element.approved.length-1]?.approveTime | date:'dd/MM/yyyy'}}
              <br>
              {{element.approved[element.approved.length-1]?.approveTime | date:'hh:mm a'}}
            </div>
            <div *ngIf="element.approved[element.approved.length-1]?.approveTime == ''">-</div>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>
  

  <mat-paginator 
    [length]="pageLength"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent($event) "
    class="addc-table-page"
    showFirstLastButtons
  >
  </mat-paginator>


  <!-- for export excel -->
  <div class="d-none">
    <claim-export-excel [dataTable]="dataExportExcel"></claim-export-excel>
  </div>


  <!-- ==================================================================
                                 popup
       ================================================================== -->

<claim-popup-detail-claims 
  class="popup d-flex align-items-center justify-content-center popupdetail" 
  *ngIf="popupDetail"
  [claimDtl]="claimDtl"
  [data]="data"
  (close)="popupDetail = $event"
  (popUpPdf)="popupDetPdf = $event"
  (reloadTable)="http_getClaimList(0)"
></claim-popup-detail-claims>     


<div class="popup d-flex align-items-center justify-content-center popupdetail" *ngIf="popupDetPdf.show">
  <popup-detail-pdf [source]="popupDetPdf.source" class="bg-white popup-item-cust" (close)="popupDetPdf.show = $event"></popup-detail-pdf>
</div>