<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">{{title}}</h2>
            <div class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" *ngFor="let item of breadCrumbs;let i=index">
                        <span >{{item}}</span>
                        <!-- <a [routerLink]="['/admin/'+item]"  class="breadcrumb-link" *ngIf="i==breadCrumbs.length">{{item}}</a> -->
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>