<div>
    <div class="row align-item-start">
      <div class="col-md-4">
        <div class="addc-input-capsule-search-container">
          <input  (keyup)="applyFilter($event.target.value, $event.code)" placeholder="Search for claims" class="search">
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-item-start">
      
      </div>
      <div class="col-md-4 text-right">
        <button class="mr-4 addc-btn-capsule download-scv" (click)="filterData()" [ngClass]="{'bg-base': isFilter}">
          <img src="assets/images/icon/Filter_icon.png" alt="png" class="icon">
          Filter By
        </button>
        <button class="addc-btn-capsule download-scv" (click)="export()">
          <img src="assets/images/icon/download.png" alt="png" class="icon">
          Download Excel
        </button>
      </div>
    </div>
  
    <div class="addc-table-container" >
      <ng-template #popContent >
        <div class="popoffer">
          <div class="list warning mb-16">
            <b>Draft</b>: Client setup has not been completed in the system yet. 
          </div>
          <div class="list success">
            <b>Complete</b>: Client setup has been added to the system with existing Job Orders.
          </div>
        </div>  
      </ng-template>

      <table  mat-table 
      [dataSource]="dataSource" 
      matSort 
      [matSortDisabled]="isFilter" 
      (matSortChange)="sortData($event)"
      class="tbl-claim addc-table addc-tbl-round addc-table-disable-icon-hide">

        <ng-container matColumnDef="associateId">
          <th mat-header-cell mat-sort-header *matHeaderCellDef style="width:130px;"> 
            <span>Associate ID </span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(0)">
              <img src="assets/images/icon/Filter_icon.png" 
                  alt="filter" 
                  class="tbl-header-img"
                  *ngIf="filterByassociateId.length == 0">
              <img src="assets/images/icon/Filter_icon_yellow.png" 
                  alt="filter" 
                  class="tbl-header-img nofilter" 
                  *ngIf="filterByassociateId.length > 0">
            </button>
            <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 0" >
              <table-filter 
                [type]="'associateId'" 
                [inputType]="'checkbox'" 
                (cancel)="cancelFilter($event)"
                (returning)="applyFilterData($event,'associateId')" 
                [chkBfr]="filterByassociateId"
                [search]="true"
                [dataList]="dataList.associateIds"
              ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" > 
            <div *ngIf="element.associateId" class="text-uppercase">#{{element.associateId  | slice:element.associateId.length-6 :element.associateId.length }} </div>
            <div *ngIf="!element.associateId">-</div>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="createdByName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 250px;">  
            <span>Name</span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(1)">
                <img src="assets/images/icon/Filter_icon.png" 
                    alt="filter" 
                    class="tbl-header-img" 
                    *ngIf="filterBycreatedByName.length == 0">
                <img src="assets/images/icon/Filter_icon_yellow.png" 
                    alt="filter" 
                    class="tbl-header-img nofilter" 
                    *ngIf="filterBycreatedByName.length > 0">
            </button>
            <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 1" >
              <table-filter 
                [type]="'name'" 
                [inputType]="'checkbox'" 
                (cancel)="cancelFilter($event)"
                (returning)="applyFilterData($event,'createdByName')" 
                [chkBfr]="filterBycreatedByName"
                [search]="true"
                [dataList]="dataList.createdByNames"
              ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element"> 
            <span class="text-capitalize">
              {{element.createdByName}}
            </span>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="associateNric">
          <th mat-header-cell mat-sort-header *matHeaderCellDef >
            <span>NRIC</span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(2)">
                <img src="assets/images/icon/Filter_icon.png" 
                    alt="filter" 
                    class="tbl-header-img"
                    *ngIf="filterByNric.length == 0">
                <img src="assets/images/icon/Filter_icon_yellow.png" 
                    alt="filter" 
                    class="tbl-header-img nofilter"
                    *ngIf="filterByNric.length > 0">
            </button>
            <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 2" >
              <table-filter 
                [type]="'NRIC'" 
                [inputType]="'checkbox'" 
                (cancel)="cancelFilter($event)"
                (returning)="applyFilterData($event,'associateNric')" 
                [chkBfr]="filterByNric"
                [search]="true"
                [dataList]="dataList.associateNrics"
              ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" >
            <div *ngIf="element.associateNric">{{element.associateNric}}</div>  
            <div *ngIf="!element.associateNric">-</div>  
          </td>
        </ng-container>

        <ng-container matColumnDef="leaveType">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>  
            <span>Leave Type</span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(3)">
                <img src="assets/images/icon/Filter_icon.png" 
                  alt="filter" 
                  class="tbl-header-img"
                  *ngIf="filterByLeaveTypes.length == 0">
                <img src="assets/images/icon/Filter_icon_yellow.png" 
                  alt="filter" 
                  class="tbl-header-img nofilter" 
                  *ngIf="filterByLeaveTypes.length > 0">
            </button>
            <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 3" >
              <table-filter 
                [type]="'Leave Type'" 
                [inputType]="'checkbox'" 
                (cancel)="cancelFilter($event)"
                (returning)="applyFilterData($event,'leaveType')" 
                [chkBfr]="filterByLeaveTypes"
                [search]="true"
                [dataList]="dataList.leaveTypes"
              ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="text-capitalize">
              {{element.leaveType }}
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> 
            <span>Start </span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(4)">
              <img src="assets/images/icon/Filter_icon.png" 
                alt="filter" 
                class="tbl-header-img"
                *ngIf="filterByStartDate.length == 0">
              <img src="assets/images/icon/Filter_icon_yellow.png" 
                alt="filter" 
                class="tbl-header-img nofilter" 
                *ngIf="filterByStartDate.length > 0">
            </button>
            <div class="tbl-filter-input " *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 4" >
              <table-filter 
                [type]="'Start Date'" 
                [inputType]="'date-picker'" 
                (cancel)="cancelFilter($event)"
                (returning)="applyFilterData($event,'startDate')" 
                [chkBfr]="filterByStartDate"
                [dateType]="'month'"
                [search]="false"
              ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="text-capitalize"> 
            {{element.startDate | date: 'MMM'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> 
            <span>End </span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(6)">
              <img src="assets/images/icon/Filter_icon.png" 
                alt="filter" 
                class="tbl-header-img"
                *ngIf="filterByEndDate.length == 0">
              <img src="assets/images/icon/Filter_icon_yellow.png" 
                alt="filter" 
                class="tbl-header-img nofilter" 
                *ngIf="filterByEndDate.length > 0">
            </button>
            <div class="tbl-filter-input " *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 6" >
              <table-filter 
                [type]="'Leave Type'" 
                [inputType]="'date-picker'" 
                (cancel)="cancelFilter($event)"
                (returning)="applyFilterData($event,'endDate')" 
                [chkBfr]="filterByEndDate"
                [dateType]="'month'"
                [search]="false"
              ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" > 
            {{element.endDate | date: 'MMM'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 100px"> 
            <span>Duration </span>
            <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(7)">
              <img src="assets/images/icon/Filter_icon.png" 
                alt="filter" 
                class="tbl-header-img"
                *ngIf="filterByDuration.length == 0">
              <img src="assets/images/icon/Filter_icon_yellow.png" 
                alt="filter" 
                class="tbl-header-img nofilter" 
                *ngIf="filterByDuration.length > 0">
            </button>
            <div class="tbl-filter-input " *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 7" >
              <table-filter 
                [type]="'Duration'" 
                [inputType]="'checkbox'" 
                (cancel)="cancelFilter($event)"
                (returning)="applyFilterData($event,'duration')" 
                [chkBfr]="filterByDuration"
                [search]="false"
                [dataList]="[{data:'<4',showData:'less than 4 weeks'},{data:'>4',showData:'more than 4 weeks'}]"
                ></table-filter>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class=""> 
            <div [innerHTML]="setDuration(element.durationInDays)"></div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status" >
            <th mat-header-cell mat-sort-header *matHeaderCellDef  style="width: 180px;">  
              <span>Status</span>
              <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(10)">
                <img src="assets/images/icon/Filter_icon.png" 
                  alt="filter" 
                  class="tbl-header-img"
                  *ngIf="filterByStatus.length == 0">
                <img src="assets/images/icon/Filter_icon_yellow.png" 
                  alt="filter" 
                  class="tbl-header-img nofilter" 
                  *ngIf="filterByStatus.length > 0">
              </button>
              <div class="tbl-filter-input " *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 10" >
                <table-filter 
                  [type]="'Status'" 
                  [inputType]="'checkbox'" 
                  (cancel)="cancelFilter($event)"
                  (returning)="applyFilterData($event,'status')" 
                  [chkBfr]="filterByStatus"
                  [search]="true"
                  [dataList]="dataList.statuses"
                ></table-filter>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" > 
              <button  class="addc-btn-cpsl text-center w-100" 
                (click)="showClaimDetail(element)"
                [ngClass]="{
                  'bg-success': element.status == 'approved',
                  'bg-danger': element.status == 'rejected',
                  'addc-bg-primary': element.status == 'processed',
                  'bg-warning': element.status == 'pending approval',
                  'addc-bg-primary2': element.status == 'taken',
                  'bg-warning2': element.status == 'draft'
                }">
                <span class="text-center text-capitalize " >{{element.status}}</span>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="docUrls" >
            <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 100px;padding-right: 24px;">  
              <span>Attachment</span>
              <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(5)">
                <img src="assets/images/icon/Filter_icon.png" 
                  alt="filter" 
                  class="tbl-header-img"
                  *ngIf="filterByAttachment.length == 0">
                <img src="assets/images/icon/Filter_icon_yellow.png" 
                  alt="filter" 
                  class="tbl-header-img nofilter" 
                  *ngIf="filterByAttachment.length > 0">  
              </button>
              <div class="tbl-filter-input right" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 5" >
                <table-filter 
                  [type]="'attachment'" 
                  [inputType]="'checkbox'" 
                  (cancel)="cancelFilter($event)"
                  (returning)="applyFilterData($event,'attachment')" 
                  [chkBfr]="filterByAttachment"
                  [search]="false"
                  [dataList]="[{data:'none',showData:'none'},{data:'single',showData:'single attachment'},{data:'multiple',showData:'multiple attachment'}]"
                ></table-filter>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" > 
              <div class="text-left">
                <div  class="pdf-download">
                  <img src="assets/images/icon/pdf.png" alt="pdf">
                </div>
              </div>
            </td>
          </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>
  

  <mat-paginator 
    [length]="pageLength"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent($event) "
    class="addc-table-page"
    showFirstLastButtons
  >
  </mat-paginator>


  <!-- for export excel -->
  <div class="d-none">
    <leave-export-excel [dataTable]="dataExportExcel"></leave-export-excel>
  </div>


  <!-- ==================================================================
                                 popup
       ================================================================== -->

<popup-detail-leave 
  class="popup d-flex align-items-center justify-content-center popupdetail" 
  *ngIf="popupDetail"
  [claimDtl]="claimDtl"
  [data]="data"
  (close)="popupDetail = $event"
  (popUpPdf)="popupDetPdf = $event"
  (reloadTable)="http_getClaimList(0)"
></popup-detail-leave>     


<div class="popup d-flex align-items-center justify-content-center popupdetail" *ngIf="popupDetPdf.show">
  <popup-detail-pdf [source]="popupDetPdf.source" class="bg-white popup-item-cust" (close)="popupDetPdf.show = $event"></popup-detail-pdf>
</div>